:host {
    display: contents;
}

.link-input-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    width: 100%;
}

.link-input-container > .standar-input-icon{
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    text-align: center;
    justify-content: center;
    width:45px;
    height: 34px;
    border-radius: 4px;
}

.link-style {
    margin-left: 0.5rem;
    font-size: 14px;
    color: rgb(52, 55, 59);
    max-height: 26px;
    line-height: 1.42857;
    cursor: pointer;
}

.link-style:hover {
    text-decoration: underline;
    color: #c15375;
}