<div class="div-tab-accordio-container">
    <ul *ngIf="(responsiveService.responsiveSize | async) === deviceType.Desktop" class="tabs-menu">
        <li class="tab-button" [ngClass]="{'active': tabInfo.general.active}">
            <a (click)="toggleActive(tabInfo.general.id)">General</a>
        </li>
        <li class="tab-button" [ngClass]="{'active': tabInfo.localization.active}">
            <a (click)="toggleActive(tabInfo.localization.id)">Localization</a>
        </li>
        <li class="tab-button" [ngClass]="{'active': tabInfo.categorization.active}">
            <a (click)="toggleActive(tabInfo.categorization.id)">Categorization</a>
        </li>
    </ul>

    <div class="tabs">
        <div class="tab">
            <div *ngIf="(responsiveService.responsiveSize | async) !== deviceType.Desktop" class="tab-button" [ngClass]="{'active': tabInfo.general.active}">
                <a (click)="toggleActive(tabInfo.general.id)">General</a>
            </div>
            <div *ngIf="tabInfo.general.active" class="tab-content">
                <app-general-info></app-general-info>
            </div>
        </div>
        <div class="tab">
            <div *ngIf="(responsiveService.responsiveSize | async) !== deviceType.Desktop" class="tab-button" [ngClass]="{'active': tabInfo.localization.active}">
                <a (click)="toggleActive(tabInfo.localization.id)">Localization</a>
            </div>
            <div *ngIf="tabInfo.localization.active" class="tab-content">
                <app-localization></app-localization>
            </div>
        </div>
        <div class="tab">
            <div *ngIf="(responsiveService.responsiveSize | async) !== deviceType.Desktop" class="tab-button" [ngClass]="{'active': tabInfo.categorization.active}">
                <a (click)="toggleActive(tabInfo.categorization.id)">Categorization</a>
            </div>
            <div *ngIf="tabInfo.categorization.active" class="tab-content">
                <span >test3</span>
            </div>
        </div>
    </div>

</div>