<div class="div-tab-accordio-container">
    <ul *ngIf="(responsiveService.responsiveSize | async) === deviceType.Desktop" class="tabs-menu">
        <li class="tab-button" [ngClass]="{'active': tabInfo.general.active}">
            <a (click)="toggleActive(tabInfo.general.id)">{{tabInfo.general.title}}</a>
        </li>
        <li class="tab-button" [ngClass]="{'active': tabInfo.alternative.active}">
            <a (click)="toggleActive(tabInfo.alternative.id)">{{tabInfo.alternative.title}}</a>
        </li>
        <li class="tab-button" [ngClass]="{'active': tabInfo.localization.active}">
            <a (click)="toggleActive(tabInfo.localization.id)">{{tabInfo.localization.title}}</a>
        </li>
        <li class="tab-button" [ngClass]="{'active': tabInfo.categorization.active}">
            <a (click)="toggleActive(tabInfo.categorization.id)">{{tabInfo.categorization.title}}</a>
        </li>
        <li class="tab-button" [ngClass]="{'active': tabInfo.releaseDates.active}">
            <a (click)="toggleActive(tabInfo.releaseDates.id)">{{tabInfo.releaseDates.title}}</a>
        </li>
        <li class="tab-button" [ngClass]="{'active': tabInfo.websites.active}">
            <a (click)="toggleActive(tabInfo.websites.id)">{{tabInfo.websites.title}}</a>
        </li>
        <li class="tab-button" [ngClass]="{'active': tabInfo.companies.active}">
            <a (click)="toggleActive(tabInfo.companies.id)">{{tabInfo.companies.title}}</a>
        </li>
        <li class="tab-button" [ngClass]="{'active': tabInfo.story.active}">
            <a (click)="toggleActive(tabInfo.story.id)">{{tabInfo.story.title}}</a>
        </li>
        <li class="tab-button" [ngClass]="{'active': tabInfo.languages.active}">
            <a (click)="toggleActive(tabInfo.languages.id)">{{tabInfo.languages.title}}</a>
        </li>
    </ul>

    <div class="tabs">
        <div class="tab">
            <div *ngIf="(responsiveService.responsiveSize | async) !== deviceType.Desktop" class="tab-button" [ngClass]="{'active': tabInfo.general.active}">
                <a (click)="toggleActive(tabInfo.general.id)">{{tabInfo.general.title}}</a>
            </div>
            <div *ngIf="tabInfo.general.active" class="tab-content">
                <app-general-info></app-general-info>
            </div>
        </div>
        <div class="tab">
            <div *ngIf="(responsiveService.responsiveSize | async) !== deviceType.Desktop" class="tab-button" [ngClass]="{'active': tabInfo.alternative.active}">
                <a (click)="toggleActive(tabInfo.alternative.id)">{{tabInfo.alternative.title}}</a>
            </div>
            <div *ngIf="tabInfo.alternative.active" class="tab-content">
                <app-alternative-titles></app-alternative-titles>
            </div>
        </div>
        <div class="tab">
            <div *ngIf="(responsiveService.responsiveSize | async) !== deviceType.Desktop" class="tab-button" [ngClass]="{'active': tabInfo.localization.active}">
                <a (click)="toggleActive(tabInfo.localization.id)">{{tabInfo.localization.title}}</a>
            </div>
            <div *ngIf="tabInfo.localization.active" class="tab-content">
                <app-localization></app-localization>
            </div>
        </div>
        <div class="tab">
            <div *ngIf="(responsiveService.responsiveSize | async) !== deviceType.Desktop" class="tab-button" [ngClass]="{'active': tabInfo.categorization.active}">
                <a (click)="toggleActive(tabInfo.categorization.id)">{{tabInfo.categorization.title}}</a>
            </div>
            <div *ngIf="tabInfo.categorization.active" class="tab-content">
                <app-game-categorization></app-game-categorization>
            </div>
        </div>
        <div class="tab">
            <div *ngIf="(responsiveService.responsiveSize | async) !== deviceType.Desktop" class="tab-button" [ngClass]="{'active': tabInfo.releaseDates.active}">
                <a (click)="toggleActive(tabInfo.releaseDates.id)">{{tabInfo.releaseDates.title}}</a>
            </div>
            <div *ngIf="tabInfo.releaseDates.active" class="tab-content">
                <app-game-release-dates></app-game-release-dates>
            </div>
        </div>
        <div class="tab">
            <div *ngIf="(responsiveService.responsiveSize | async) !== deviceType.Desktop" class="tab-button" [ngClass]="{'active': tabInfo.websites.active}">
                <a (click)="toggleActive(tabInfo.websites.id)">{{tabInfo.websites.title}}</a>
            </div>
            <div *ngIf="tabInfo.websites.active" class="tab-content">
                <app-game-websites></app-game-websites>
            </div>
        </div>
        <div class="tab">
            <div *ngIf="(responsiveService.responsiveSize | async) !== deviceType.Desktop" class="tab-button" [ngClass]="{'active': tabInfo.companies.active}">
                <a (click)="toggleActive(tabInfo.companies.id)">{{tabInfo.companies.title}}</a>
            </div>
            <div *ngIf="tabInfo.companies.active" class="tab-content">
                <app-companies></app-companies>
            </div>
        </div>
        <div class="tab">
            <div *ngIf="(responsiveService.responsiveSize | async) !== deviceType.Desktop" class="tab-button" [ngClass]="{'active': tabInfo.story.active}">
                <a (click)="toggleActive(tabInfo.story.id)">{{tabInfo.story.title}}</a>
            </div>
            <div *ngIf="tabInfo.story.active" class="tab-content">
                <app-game-story></app-game-story>
            </div>
        </div>
        <div class="tab">
            <div *ngIf="(responsiveService.responsiveSize | async) !== deviceType.Desktop" class="tab-button" [ngClass]="{'active': tabInfo.languages.active}">
                <a (click)="toggleActive(tabInfo.languages.id)">{{tabInfo.languages.title}}</a>
            </div>
            <div *ngIf="tabInfo.languages.active" class="tab-content">
                <app-languages></app-languages>
            </div>
        </div>
        <div class="tab-buttons">
            <button class="btn btn-default" (click)="clickToGoBack()">Back</button>
            <div class="tab-btn">
                <button class="btn btn-default right">Create</button>
                <button class="btn btn-primary" (click)="clickToGoNext()">Next</button>
            </div>
        </div>
    </div>

</div>