<div class="standar-select-search-container"  (clickOutside)="clickOutSide()">
    <label>{{label}}</label>
    <div class="select" [ngClass]="{'focused': this.selectIsFocused}" (click)="clickSelectSearchField()">
        <input 
        [type]="type" 
        readonly 
        placeholder="Type your selection..." 
        [value]="this.inputValue?.value"
        >
        <span class="standar-select-search-icon" *ngIf="this.inputValue != null" (click)="clickToRemoveSelectedOption()">
            <i class="fa-solid fa-xmark"></i>
        </span>
        <span class="standar-select-search-icon">
            <i class="fa-solid fa-caret-up" [ngClass]="{'fa-caret-up':openSelectField, 'fa-caret-down':!openSelectField}"></i>
        </span>
    </div>
    <div class="select-dropdown-search-options" [ngClass]="{'openSelectSearchOptions':openSelectField}">
        <div>
            <input id="inputSearchOption" type="text" (input)="inputSearchOptions($event)">
        </div>
        <ul>
            <ng-container *ngIf="filteredInputValues.length == 0">
                <li class="search-options-no-options">
                    <span>No result found</span>
                    <span style="color: #999;">Searching...</span>
                </li>
            </ng-container>
            <ng-container *ngIf="filteredInputValues != null && filteredInputValues.length > 0">
                <li class="search-options" *ngFor="let option of filteredInputValues" (click)="clickSelectOption(option.id)">{{option.value}}</li>
            </ng-container>
        </ul>
    </div>
</div>