:host{
    display: contents;
}

.perpectives-container {
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: 5px;
    width: 50%;
}

.perpectives-container label {
    font-weight: 700;
    font-size: 17px;
    letter-spacing: 1px;
}


.list {
    list-style: none;
    margin-top: 25px;
}

.list > li {
    margin-top: 5px;
    margin-bottom: 5px;
}