<div [ngClass]="{'loader': !inner, 'inner-loader' : inner}" *ngIf="loading">
    <div class="loader-container">
        <div class="ui-abstergo">
            <div class="abstergo-loader">
              <div></div>
              <div></div>
              <div></div>
            </div>
            <div class="ui-text">
              Loading
              <div class="ui-dot"></div>
              <div class="ui-dot"></div>
              <div class="ui-dot"></div>
            </div>
          </div>
    </div>
</div>