.multiplayer-mode-container {
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: 5px;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.btn-default {
    background-color: #f7f8fa;
    border-color: #dde3e8;
    color: #4E4E4E;
}

.btn-default:hover {
    background-color: #d8d9dc;
    border-color: #ced4d8;
    color: #4E4E4E;
}

.btn-primary {
    color: #fff;
    background-color: #c15375;
    border-color: #c15375;
}

.btn-primary:hover {
    color: #fff;
    background-color: #b04668;
    border-color: #c15376;
}

.btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}