<div class="header-navigation">
    <!-- Toggler button -->
    <div class="header-navigation_toggle">
        <button class="header-navigation_toggle-button" (click)="toggleSideBar()">   
            <i id="toggleButtonIcon" class="fas fa-bars"></i>
        </button>
    </div>

    <div class="header-navigation_nav">
        <ul class="header-navigation_nav-menu">
            <li>
                <a>
                    <i class="fa-solid fa-bell fa-lg"></i>
                </a>
            </li>
            <li>
                <a>
                    <i class="fa-solid fa-gear fa-lg"></i>
                </a>
            </li>
            <!-- <li>
                <a>
                    <img src="../../../../../assets/img/user.png" alt="">
                    <span>Iraklis Tsikas</span>
                </a>
            </li> -->
        </ul>
    </div>
</div>