<div class="game-details-container">
    <ol class="breadcrumb">
        <li><a [routerLink]="['/Game']">Games</a></li>
        <li *ngIf="gameModel != null">{{gameModel.name}}</li>
    </ol>

    <div class="game-details" *ngIf="gameModel != null">
        <app-game-details-desktop *ngIf="(this.responsiveService.responsiveSize | async) === responsiveSizes.Desktop" [gameModel]="gameModel"></app-game-details-desktop>
        <app-game-details-mobile *ngIf="(this.responsiveService.responsiveSize | async) !== responsiveSizes.Desktop" [gameModel]="gameModel"></app-game-details-mobile>
    </div>
</div>

<spinner-loader [loading]="loading$ | async" [imageSRC]="'../../../../../assets/img/owl_logo.png'"></spinner-loader>
