<div class="panel">
    <div class="panel-header">
        <!-- <button class="btn btn-primary margin-right ">Copy previews settings</button> -->
        <button (click)="removeLocalization()" class="btn btn-error">Remove</button>
    </div>
    <div class="panel-body row" [ngClass]="{'row': (this.responsiveService.responsiveSize | async) !== deviceType.Mobile, 'column': (this.responsiveService.responsiveSize | async) === deviceType.Mobile}">
        <div class="panel-inputs">
            <app-standar-select-search
                [label]="'Platform:'"
                [controlName]="'platform'"
                [subGroup]="'multiplayerModes.'+index"
            ></app-standar-select-search>
            <div class="flex column mt-3">
                <app-standar-input
                    [label]="'Online Co-op max players:'"
                    [controlName]="'onlineCoOpMax'"
                    [subGroup]="'multiplayerModes.'+index"
                ></app-standar-input>
                <app-standar-input
                    [label]="'Offline Co-op max players:'"
                    [controlName]="'offlineCoOpMax'"
                    [subGroup]="'multiplayerModes.'+index"
                ></app-standar-input>
                <app-standar-input
                    [label]="'Online max players:'"
                    [controlName]="'onlineMax'"
                    [subGroup]="'multiplayerModes.'+index"
                ></app-standar-input>
                <app-standar-input
                    [label]="'Offline max players:'"
                    [controlName]="'offlineMax'"
                    [subGroup]="'multiplayerModes.'+index"
                ></app-standar-input>
            </div>
        </div>
        <div class="panel-list">
            <ul class="list">
                <li *ngFor="let item of perpectives">
                    <app-check-mark-checkbox-button
                    [label]="item.name"
                    (clickEvent)="checkBoxClicked($event, item)"
                    ></app-check-mark-checkbox-button>
                </li>
            </ul>
        </div>
    </div>
</div>
