<div class="filter-search-header-container" 
    [ngClass]="{'column':(responsiveService.responsiveSize | async) === deviceType.Mobile, 'row':(responsiveService.responsiveSize | async) !== deviceType.Mobile}"
>
    <div>
        <app-search></app-search>
    </div>
    
    <ul class="button-list" [ngClass]="{'mobile-list':(responsiveService.responsiveSize | async) === deviceType.Mobile}">
        <!-- <li >
            <button class="btn-primary btn">
                <span>Advance Search</span>
            </button>
        </li> -->
        <li>
            <a class="btn-primary btn" (click)="clickAddGame()">Add Game</a>
        </li>
    </ul>
</div>
