:host {
    display: contents;
}

.link-input-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 10px;
}

.link-input-container > .standar-input{
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    text-align: center;
}

.link-input-container > .standar-input > .standar-input-icon {
    // background: #00acee;
    width:45px;
    height: 34px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    border-radius: 4px;
    // color: #fff;
}

.link-input-container > .standar-input > input {
    width: 100%;
    background-image: none;
    border-bottom: 2px solid #ddd;
    border-top: 2px solid #ddd;
    border-right: 2px solid #ddd;
    border-left: none;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    color: #555555;
    background-color: #fff;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    cursor: pointer;
}

.link-input-container > label {
    font-weight: 700;
    font-size: 14.56px;
    margin-bottom: 5px;
    margin-left: 5px;
    line-height: 1.428571429;
    color: #34373b;
}

.link-input-container > .standar-input  > input:focus {
    outline: none;
    border-color: #c15375;
    box-shadow: #c15375;
}

.image{
    height: 40px;
}