:host{
    display: contents;
}

.header-rating-container{
    display: flex;
    flex-direction: column;
    height: 100%;
    // width: 100%;
    margin-top: 5rem;
}

.rating-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.add-review-button{
    margin-top: 1rem;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    height: 2.25rem;
}

.add-review-button button {
    background-color: #fff;
    color: #404040;
    border: 1px solid #bfbfbf;
    font-size: .875rem;
    cursor: pointer;
    padding: 0 1rem;
    text-transform: none;
    transition: .1s;
    border-radius: 0.3rem;
    font-weight: 400;
}
