<div class="general-details-container" [ngClass]="{'mobile': (this.responsiveService.responsiveSize | async) === responsiveSizes.Mobile}">
    <div class="general-details-input">
        <app-standar-input 
            [subGroup]="'generalDetails'" 
            [controlName]="'name'" 
            [label]="'Name'">
        </app-standar-input>
        <app-standar-textarea 
            [subGroup]="'generalDetails'" 
            [controlName]="'description'"  
            [label]="'Description'">
        </app-standar-textarea>
    </div>
    <div class="general-details-image-input">
        <div>
            <label>Logo</label>
            <img [src]="imageB64?? 'assets/img/nocover.png'" alt="">
        </div>
        <input type="file"  (change)="fileSelected($event)">
    </div>
</div>