<!-- <div class="header-rating-container">
    <div class="rating-container">
        <app-circle-score-progress></app-circle-score-progress>
        <app-circle-score-progress
        [radius]="40"
        [width]="105"
        ></app-circle-score-progress>
    </div>
</div> -->

<div class="header-rating-container">
    <div class="rating-container">
        <div [ngStyle]="{'background': setColorScore()}" class="score">
            <div class="fisrt">
                {{score*10}}
            </div>
            <!-- <div class="second">
                based on 71 members
            </div> -->
        </div>
        <!-- <div class="score">
            <div class="fisrt">
                90
            </div>
            <div class="second">
                based on 11 critics
            </div>
        </div> -->
    </div>
</div>

<div class="add-review-button">
    <button (click)="addMyReview()"><span>Add My Review</span></button>
</div>