<div class="language-container" [formGroup]="parentForm.form">
    
    <div class="form-item">
        <app-standart-pill-select
            [label]="'Audio'"
            [controlName]="'audio'"
            [subGroup]="'supportedLanguage'"
            [options]="audiosList"
        ></app-standart-pill-select>
    </div>

    <div class="form-item">
        <app-standart-pill-select
            [label]="'Subtitles'"
            [controlName]="'subtitle'"
            [subGroup]="'supportedLanguage'"
            [options]="subtitlessList"
        ></app-standart-pill-select>
    </div>

    <div class="form-item">
        <app-standart-pill-select
            [label]="'Interface'"
            [controlName]="'interface'"
            [subGroup]="'supportedLanguage'"
            [options]="interfacesList"
        ></app-standart-pill-select>
    </div>
    
</div>


