<!-- <div class="section-auth">
    
    <div class="auth_header">
        <h4>Owl Overdrive</h4>
    </div>

    <div class="auth-left">
        <ng-container *ngIf="false">
            <h1>Don't have an account?</h1>
            <p>Register here</p>
            <button>Create an account</button>
        </ng-container>
        <ng-container *ngIf="true">
            <h1>Have an account already?</h1>
            <p>Login here</p>
            <button>Sign In</button>
        </ng-container>
    </div>

    <router-outlet></router-outlet>

</div> -->

<div class="auth_layout">
    <div class="auth_header">
        <h4>Owl Overdrive</h4>
    </div>
    
    <div class="auth_container">
        <div class="signIn_container">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>