<div class="spelling-container">
    <div class="title-contents">
        <h2>
            Localized Titles
        </h2>
        <div class="gameDetails-sectionContainer">
            <ng-container *ngFor="let item of spellings.localizedTitles">
                <div class="gameDetails-sectionContainer-item">
                    
                        <span>{{item.type}}:</span>
                        <ul>
                            <li>
                                {{item.title}}
                            </li>
                        </ul>
                </div>
            </ng-container>
        </div>
    </div>

    <div class="title-contents">
        <h2>
            Alternative Titles
        </h2>
        <div class="gameDetails-sectionContainer">
            <ng-container *ngFor="let item of spellings.alternativeTitles">
                <div class="gameDetails-sectionContainer-item">
                    
                        <span>{{item.type}}:</span>
                        <ul>
                            <li>
                                {{item.title}}
                            </li>
                        </ul>
                </div>
            </ng-container>
        </div>
    </div>

</div>
