<div class="general-details-container" [ngClass]="{'mobile': (this.responsiveService.responsiveSize | async) === responsiveSizes.Mobile}">
    <div class="general-details-input">
        <app-standar-input [label]="'Name'"></app-standar-input>
        <app-standar-textarea [label]="'Description'"></app-standar-textarea>
    </div>
    <div class="general-details-image-input">
        <div>
            <label>Logo</label>
            <img [src]="" alt="">
        </div>
        <input type="file"  >
    </div>
</div>