<div class="dialog_container">
    <div id="mobile-sidebar-container"  class="admin-sidebar-mobile-container">
        <div class="header-title">
            <div style="display: flex; flex-direction: row; align-items: center; text-align: center;">
                <img src="../../../../../assets/img/owl_logo.png" alt="">
                <h1 class="sidebar_logo_title">Owl Overdrive</h1>
            </div>
            <div (click)="clickToCloseSidebar()" style=" color: #a2a2a2; margin-right: 1rem;"><i class="fa-solid fa-xmark"></i></div>
        </div>
        <app-mobile-menu></app-mobile-menu>
    </div>  
</div>