<div class="quarable-user-list-container">
    <filter-tabs [tabList]="filterTabs" (selectedFilter)="tabChange($event)">
        <!-- <app-user-field></app-user-field> -->

        <div class="cards-container">
            <ng-container *ngIf="userList != null && userList.length > 0">
                <app-user-field [userInputList]="userList" (updateSelectedUser)="updateSelectedUser($event)"></app-user-field>
            </ng-container>
            <!-- <app-logo-loader [imageSRC]="'../../../../../assets/img/owl_logo.png'" [isLoading]="(loading$ | async)"></app-logo-loader> -->
        </div>

        <!-- <div *ngIf="userList != null && userList.length > 0" class="pagination-container">
            <app-user-pagination 
                (selectedPage)=" changePage($event)"
                [pages]="totalPages"
                [currentPage]="currentPage"
                >
            </app-user-pagination>
        </div> -->

    </filter-tabs>
</div>
