<div class="genre-theme-container" [ngClass]="{'column': (responsiveService.responsiveSize | async) === deviceType.Mobile}">
    <div [ngClass]="{'desktop-tablet':(responsiveService.responsiveSize | async) !== deviceType.Mobile, 'mobile':(responsiveService.responsiveSize | async) === deviceType.Mobile}">
        <app-standart-pill-select
            [label]="'Genre:'"
            [controlName]="'genre'"
            [subGroup]="'categorization'"
            [options]="listOfGenre"
        >
        </app-standart-pill-select>
    </div>
    <div [ngClass]="{'desktop-tablet':(responsiveService.responsiveSize | async) !== deviceType.Mobile, 'mobile':(responsiveService.responsiveSize | async) === deviceType.Mobile}">
        <app-standart-pill-select
            [label]="'Theme:'"
            [controlName]="'theme'"
            [subGroup]="'categorization'"
            [options]="listOfThemes"
        >
        </app-standart-pill-select>
    </div>
</div>
