.app-container{
    display: flex;
    min-height: 100vh;
    flex-direction: row;
    // position: relative;
    // z-index: 0;
    overflow:hidden;
}

.app-sidebar{
    // background: #1a1a1a;
    background-color: #222;
    width: 80px;
    overflow: hidden;
    min-width: 80px;
    transition: all 0.2s;
    height: 100vh;
    overflow: hidden;
    // position: sticky;
    // z-index: 2;
}

.app-sidebar-closed{
    background-color: #222;
    width: 80px;
    overflow: hidden;
    min-width: 80px;
    transition: all 0.2s;
}

.app-main_outer{
    background: #fff;
    flex: 1;
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 0;
    height: 100vh;
    overflow:hidden; 
    // overflow-y:scroll;
}

.app-header{
    height: 3rem;
    position: relative;
    z-index: 4;
    // transition: all 0.3s;
    // animation: slidefromTop 0.6s;
    // background: #c15375;
}

.main{
    overflow:hidden; 
    overflow-y:scroll;
    height: 100vh;
    padding-bottom: 2rem;
}

@media (min-width: 959px) {

    .app-sidebar{
        width: 270px;
        min-width: 270px;
    }

}