<div class="wrapper" [ngClass]="{'wrapper-sidebar-closed': this.sidebarIsToggled}">
    <div  class="sidebar">
        <app-admin-sidebar [sideBarOpen]="!this.sidebarIsToggled"></app-admin-sidebar>
        <div class="sidebar-background" style="background-image: url(/assets/img/chill_mario_2023_ver.gif);"></div>
    </div>
    <div class="main-panel">
        <app-admin-header [isSideBarOpen]="this.sidebarIsToggled" (toggle)="toggleSideBar()"></app-admin-header>
        <router-outlet></router-outlet>
    </div>
</div>