<div class="game-alternative-titles-container" [formGroup]="general()">
    <ng-container [formArrayName]="'gameAlternativeNames'">
        <div class="list" *ngFor="let title of alternativeTitles().controls; let i=index" [formGroupName]="i">
            <div [ngClass]="{'column': (this.responsiveService.responsiveSize | async) === deviceType.Mobile, 'row': (this.responsiveService.responsiveSize | async) !== deviceType.Mobile}">
                <div class="item">
                    <app-standar-input
                    [controlName]="'alternativeName'"
                    [subGroup]="'gameAlternativeNames.'+i"
                    ></app-standar-input>
                </div>
                <div class="item">
                    <app-standar-select-search
                        [controlName]="'alternativeTitleType'"
                        [subGroup]="'gameAlternativeNames.'+i" 
                        [listOfInputValues]="alternativeTitleTypes"
                    ></app-standar-select-search>
                </div>
            </div>
            <div class="remove-alternative" [ngClass]="{'mobile': (this.responsiveService.responsiveSize | async) === deviceType.Mobile}">
                <!-- <button (click)="removeTitle(i)">X</button> -->
                <!-- <div class="remove-release"> -->
                    <a (click)="removeTitle(i)">
                        <i class="fa-solid fa-trash-can"></i>
                    </a>
                <!-- </div> -->
            </div>
        </div>
    </ng-container>
    <div class="add-button-position">
        <button class="btn btn-primary" (click)="addNewTitle()">Add alternative title</button>
    </div>
</div>
