<div id="sidebar_container" class="sidebar_container">
    <!-- Sidebar Logo -->
    <div class="sidebar_logo" [ngClass]="{'sidebar_logo_closed' : (this.responsiveService.responsiveSize | async) !== responsiveSizes.Desktop}">
        <img 
        [ngClass]="{'sidebar_logo_img': !sidebarIsClosed((this.responsiveService.responsiveSize | async) !== responsiveSizes.Desktop), 'sidebar_logo_img_closed': sidebarIsClosed((this.responsiveService.responsiveSize | async) !== responsiveSizes.Desktop)}" 
        src="../../../../../assets/img/owl_logo.png" 
        alt="Owl_img"
        >
        <h1 *ngIf=" !sidebarIsClosed((this.responsiveService.responsiveSize | async) !== responsiveSizes.Desktop)" class="sidebar_logo_title">
            Owl Overdrive
        </h1>
    </div>

    <div class="Sidebar-Divider"></div>

    <div class="Sidebar-menu">
        <ul class="Sidebar-container">
            <ng-container *ngFor="let item of menuItems">

                <!-- Main Button -->
                <li *ngIf="item.subMenu?.length === 0" class="Sidebar-MainButton" [routerLinkActive]="['active']">
                    <a  class="MainButton" 
                        [routerLink]="item.route" 
                        (click)="openSubMenuItems(item)" 
                        [ngClass]="{'closed':sidebarIsClosed((this.responsiveService.responsiveSize | async) !== responsiveSizes.Desktop)}"
                    >
                        <i class="{{item.icon}}" [ngClass]="{'fa-lg closed': sidebarIsClosed((this.responsiveService.responsiveSize | async) !== responsiveSizes.Desktop)}"></i>
                        <p *ngIf="!sidebarIsClosed((this.responsiveService.responsiveSize | async) !== responsiveSizes.Desktop)">{{item.mainPageLabel}}</p>
                    </a>
                </li>

                
                <!-- Sub Button -->
                <li *ngIf="item.subMenu?.length !== 0" 
                    class="Sidebar-MainButton" 
                    [routerLinkActive]="['sub-active']" 
                    (clickOutside)="clickOutside()"
                >
                    <a  class="MainButton" 
                        [routerLink]="item.route" 
                        (click)="openSubMenuItems(item)" 
                        [ngClass]="{'closed':sidebarIsClosed((this.responsiveService.responsiveSize | async) !== responsiveSizes.Desktop)}"
                    >
                        <i class="{{item.icon}}" [ngClass]="{'fa-lg closed': sidebarIsClosed((this.responsiveService.responsiveSize | async) !== responsiveSizes.Desktop)}"></i>
                        <p *ngIf="!sidebarIsClosed((this.responsiveService.responsiveSize | async) !== responsiveSizes.Desktop)">{{item.mainPageLabel}}</p>
                    </a>

                    <!-- Sub Menu open sidebar -->
                    <ul class="Sub-menu-Dropdown" 
                        *ngIf="!sidebarIsClosed((this.responsiveService.responsiveSize | async) !== responsiveSizes.Desktop) && item.subMenu?.length !== 0" 
                        [ngClass]="{'Open_SubMenu': isThisSubMenuActive(item)}"
                    >
                        <li *ngFor="let subMenu_item of item.subMenu" class="Sidebar-SubButton" [routerLinkActive]="['active']">
                            <a class="SubButton" [routerLink]="subMenu_item.route">
                                <i class="{{subMenu_item.icon}}"></i>
                                <p>{{subMenu_item.subPagelabel}}</p>
                            </a>
                        </li>
                    </ul>

                    <!-- Sub Menu closed sidebar -->
                    <ul class="Sub-menu-Dropdown-Closed"
                        *ngIf="sidebarIsClosed((this.responsiveService.responsiveSize | async) !== responsiveSizes.Desktop) && item.subMenu?.length !== 0"  
                        [ngClass]="{'Side-Dropdown-Open': isThisSubMenuActive(item)}"
                        
                    >
                        <li *ngFor="let subMenu_item of item.subMenu" class="Sidebar-SubButton" [routerLinkActive]="['active']">
                            <a class="SubButton" [routerLink]="subMenu_item.route">
                                <i class="{{subMenu_item.icon}}"></i>
                                <p>{{subMenu_item.subPagelabel}}</p>
                            </a>
                        </li>
                </ul>
                </li>

                


                
                
            </ng-container>
        </ul>
    </div>
</div>
