<div class="founded-container" [ngClass]="{'mobile': (this.responsiveService.responsiveSize | async) === responsiveSizes.Mobile}">
    <div class="founded-items-left">
        <app-mat-datetime-picker
            [subGroup]="'foundedDetails'" 
            [controlName]="'foundedIn'" 
            [label]="'Founded in'" >
        </app-mat-datetime-picker>
    </div>
    <div class="founded-items-right">
        <app-standar-select-search
            [subGroup]="'foundedDetails'" 
            [controlName]="'country'" 
            [label]="'Country'"
            [listOfInputValues]="listOfCountries"
            >
        </app-standar-select-search>
    </div>
</div>