<div class="panel" [formGroup]="releaseDates()">
    <div class="panel-header">
        <h3 class="panel-title text-bold">Platform Release</h3>
        <!-- <button class="btn btn-primary margin-right ">Copy previews settings</button> -->
        <button (click)="removePlatformRelease()" class="btn btn-error">Remove</button>
    </div>
    <div class="panel-body row" [ngClass]="{'row': (this.responsiveService.responsiveSize | async) !== deviceType.Mobile, 'column': (this.responsiveService.responsiveSize | async) === deviceType.Mobile}">
        <div class="panel-inputs" [formArrayName]="'releases'">
            <app-standar-select-search
                [label]="'Platform:'"
                [controlName]="'platform'"
                [listOfInputValues]="listOfPlatforms"
                (searchInput)="searchPlatform($event)"
                [apiSearchEnable]="true"
            ></app-standar-select-search>
            <div class="flex column mt-3" *ngFor="let item of release().controls; let i=index" [formGroupName]="i">
                <app-release [index]="i" (remove)="removeIndex($event)" [listOfRegions]="listOfRegions" [listOfStatuses]="listOfGameStatues"></app-release>
            </div>
            <div class="release-btn">
                <button (click)="addNewIndex()" class="btn btn-primary">Add a release</button>
            </div>
        </div>
    </div>
</div>
