<div style="display: flex; flex-direction: row; width: inherit;">
    <div style="display: flex; flex-direction: column; width: inherit;">
        <app-standar-input [label]="'Name'"></app-standar-input>
        <app-standar-textarea [label]="'Description'"></app-standar-textarea>
    </div>
    <div style="display: flex; flex-direction: column; padding-left: 10px; padding-right: 10px;">
        <div style="display: flex; flex-direction: column; margin-bottom: 20px;">
            <label>Logo</label>
            <img style="height: 160px; width: 120px;" [src]="" alt="">
        </div>
        <input type="file"  >
    </div>
</div>