.header-container{
    // background: #c15375;
    background-color: #222;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

.header-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    padding-left: 0.6rem;
}

.header-title img{
    width: 2rem;
    height: 2rem;
}

.header-title h1 {
    font-size: 10pt;
    margin: 0;
    font-weight: 400;
    // color: #1b1a1afd;
    color: #a2a2a2;
    padding: 0 0.5rem 0 0.5rem;
    line-height: 47px;
    text-shadow: 1px 1px 0 rgba(0,0,0,.8);
    background-size: 22px 22px;
}

.header-toggler{
    margin-left: 1rem;
    display: flex;
    align-items: center;
    text-align: center;
    color: #c15375;
}

.header-toggler a i {
    margin: 0.5rem;
}