<!-- <div class="header-navigation">
    <div class="header-navigation_toggle">
        <button class="header-navigation_toggle-button" (click)="toggleSideBar()">   
            <i id="toggleButtonIcon" class="fas fa-bars"></i>
        </button>
    </div>

    <div class="header-navigation_nav">
        <ul class="header-navigation_nav-menu">
            <li>
                <a>
                    <i class="fa-solid fa-bell fa-lg"></i>
                </a>
            </li>
            <li>
                <a>
                    <i class="fa-solid fa-gear fa-lg"></i>
                </a>
            </li>
        </ul>
    </div>
</div> -->

<div class="header-container">
    <a class="header-toggler" (click)="toggleSideBar()">   
        <i id="toggleButtonIcon" class="fas fa-bars"></i>
    </a>
    <div class="header-title">
        <img src="../../../../../assets/img/owl_logo.png" alt="">
        <h1 class="sidebar_logo_title">Owl Overdrive</h1>
    </div>
</div>