<div class="general-details-container" [ngClass]="{'mobile': (this.responsiveService.responsiveSize | async) === deviceType.Mobile}">
    <div class="general-details-input">
        <div class="mt-1">
            <app-standar-input 
                [subGroup]="'general'" 
                [controlName]="'name'" 
                [label]="'Title:'">
            </app-standar-input>
        </div>
        <div class="mt-1">
            <app-standar-textarea 
                [subGroup]="'general'" 
                [controlName]="'description'"  
                [label]="'Description:'">
            </app-standar-textarea>
        </div>
    </div>
    <div class="general-details-image-input">
        <div>
            <label>Game cover:</label>
            <img [src]="imageB64?? 'assets/img/nocover.png'" alt="">
        </div>
        <input type="file">
    </div>
</div>

<div class="page-container">
    <app-game-type></app-game-type>
    <app-game-status></app-game-status>
    <app-game-edition></app-game-edition>
    <app-game-alternative-titles></app-game-alternative-titles>
</div>