<div class="game-edition-container">
    <app-check-mark-checkbox-button [isChecked]="isEdition" [label]="'This game is an edition.'" (clickEvent)="onClick($event)"></app-check-mark-checkbox-button>
    <div class="column" *ngIf="isEdition">
        <app-standar-select-search 
            [listOfInputValues]="listOfGames"
            [subGroup]="'general.gameEdition'"
            [controlName]="'baseGame'"
            [apiSearchEnable]="true"
            (searchInput)="searchGames($event)"
        >
        </app-standar-select-search>
        <div class="mt-1">
            <app-standar-input
                [label]="'Edition Title'"
                [subGroup]="'general.gameEdition'"
                [controlName]="'editionTitle'"
            >
            </app-standar-input>
        </div>
    </div>
    <hr class="horizontal-line">
</div>